/* Body and Content */
a {
  color: #005dcc !important;
}

a:hover {
  color: #0474ff !important;
  text-decoration: none !important;
}

#main_title {
  background: #005dcc; 
}

.standout_text {
  background-color: #005dcc; 
}

/* Panel */
.panel_icon {
  background: #005dcc; 	
}

/*Menu*/
a.fNiv.active, #jMenu li a:hover {
  color: #005dcc !important;

}

#jMenu li ul {
  border-top: 2px solid #005dcc;
}

#jMenu li ul li a:hover {
  color: #005dcc;
}

/*Portfolio*/
.portfolio-item-first .mask {
  background-color: rgba(0, 93, 204, 0.7);
}

/* Pricing Table */
.pricehover:hover .price {
  background:#005dcc; 
}

.pricehover:hover .price {
  border-color: #005dcc;
}

/* Widgets */
.popular_tags a:hover, .ad_block a:hover, .tabs a.active {
  background: #005dcc;
}

/*Highlight*/
#highlight {
  background: #005dcc; 
}

/*Elastic Slider*/
.ei-slider-thumbs li a {
  background: #005dcc;
}