/* Body and Content */
a {
  color: #33bb24 !important;
}

a:hover {
  color: #4bea3a !important;
  text-decoration: none !important;
}

#main_title {
  background: #33bb24; 
}

.standout_text {
  background-color: #33bb24; 
}

/* Panel */
.panel_icon {
  background: #33bb24; 	
}

/*Menu*/
a.fNiv.active, #jMenu li a:hover {
  color: #33bb24 !important;
}

#jMenu li ul {
  border-top: 2px solid #33bb24;
}

#jMenu li ul li a:hover {
  color: #33bb24;
}

/*Portfolio*/
.portfolio-item-first .mask {
  background-color: rgba(51, 187, 36, 0.7);
}

/* Pricing Table */
.pricehover:hover .price {
  background:#33bb24; 
}

.pricehover:hover .price {
  border-color: #33bb24;
}

/* Widgets */
.popular_tags a:hover, .ad_block a:hover, .tabs a.active {
  background: #33bb24;
}

/*Highlight*/
#highlight {
  background: #33bb24; 
}

/*Elastic Slider*/
.ei-slider-thumbs li a {
  background: #33bb24 ;
}